body {
    margin: 0;
    background: linear-gradient(30deg, #1f1f1f, #000);
    height: 100vh;
    overflow: hidden;
}

#sphero {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 90px;
    background: #f1f1f1;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
}

#sphero::after {
    content: '';
    display: block;
    position: relative;
    width: 10px;
    left: 5px;
    top: -2px;
    height: 10px;
    border-radius:90px;
    background: #0008;
}
